*{
    margin: 0 auto;
    padding: 0;
}
.topNav{
    background-color: black;
    overflow: hidden;
}
.topNav a{
    float: left;
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.topNav a:hover{
    background-color: white;
    color: black;
}
.topNav .icon{
    display: none;
}
@media screen and (max-width:600px){
   /*Display nth child: 
   .topNav a:first-child {
        color: red ;
    }*/
    .responsive{
       /* background-color: yellow;
        position: relative;*/
    }
    .topNav a:not(:first-child){
        display: none;
    }
    .topNav a.icon{
        display: block;
        float: right;
        background-color:gray;
    }
    .topNav responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    .responsive a.icon{
        position: absolute;
        top: 0;
        right: 0;
    }
}
